# maven #
target

logs
bin

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
.metadata
*.class

# Package Files #
*.jar
*.war
*.ear
/target
/WebContent

#Tomcat
.recommenders
RemoteSystemsTempFiles
Servers

# idea
.idea
*.iml
.scannerwork
